<h1>Angular Counter</h1>
<button (click)="newCounter()">Create new counter</button>
<div>
  <div *ngFor="let counter of counters">
    <div>
      counter:

      <button (click)="counter.decrement()">-</button>
      {{counter.value}}
      <button (click)="counter.increment()">+</button>
    </div>
  </div>
  <div *ngFor="let superCounter of superCounters">
    <div>
      super counter:
      <button (click)="superCounter.decrement()">-</button>
      {{superCounter.value}}
      <button (click)="superCounter.increment()">+</button>
    </div>
  </div>
</div>